<html>
<head>
<title>TOOL BOX</title>
<style>
div.menu
{
border:2px solid green;
height:50px;
font-size:23px;
background-color:steelblue;
color:cyan;
}
span.mini
{
text-align:center;
border:1px dotted brown;
padding-bottom:23px;
padding-left:5px;
}
h1
{
align:center;
font-family:tahoma;
font-weight:bold;
font-size:30;
margin:20px 20px 20px 20px;
color:darkblue;
}

h2
{
text-align:center;
align:center;
font-family:tahoma;
font-weight:bold;
font-size:20;
margin:20px 20px 20px 20px;
color:green;
}
 </style>
<script>  </script>
</head>

<body style="backgroundColor:#2a4b5c;">

<h1></h2>

<div id="menu">
<span id="mini"><a href="tool1/">Clock</a></span>
<span id="mini"><a href="stop watch1.html">Stop Watch</a></span>
<span id="mini"><a href="calender1.html">Calender</a></span>
<span id="mini"><a href="rgb slides1.html">Colour Picker</a></span>
<span><a href="simple calculator1.html">calculator</a></span>
</div>


<h1><u>welcome to toolbox!!!!</u> </h1>

<h2 style="text-align:center;"><u>SignUP / LogIn</u></h2>
<form>
<fieldset style="background-color:lightblue;color:green;padding:8px;border:5px dotted black;">
<legend>Login Details</legend>

<label>Enter Your First Name :</label>
<input type="text" placeholder="first name" required>
<br>
<br>
<label>Enter Your Last Name :</label>
<input type="text" placeholder="last name" required>
<br>
<br>
<label>Enter Your Email Id :</label>
<input type="email" placeholder="email id" required>
<br>
<br>
<label>Enter Your Password :</label>
<input type="password" placeholder="password" required>
<br>
<br>
<label>Enter Your Educational Standards :</label>
<select>
<option>SSC only</option>
<option>inter only</option>
<option>UG only</option>
<option>PG only</option>
<option>Professional</option>
</select>
<br>
<br>
<input type="submit" value="Submit" style="color:aqua;background-color:darkblue;text-align:center;align:center;padding:5px 5px 5px 5px;">
</fieldset>
<br>
<br>
<label>Feed Back As Tip :</label>
<textarea width=100>write something here</textarea>

</body>

</html>
