<html>


<head>
<title>graphs of mathemetics<font></u></title>
</head>

<body bgcolor="palegreen" background=""C:\Users\S Satish\Downloads\background.jpg"" link="red">
<h1><u><font color="blue">WELCOME TO GRAPHIC UNIVERESE</font></u></h1>
<h2><i><b><u><font color="green">hi students!!</font></u></b></i></h2>
<p><h3><b><font color="orange"><big>the graphs of maths is ivetible in any maths aspirant life.first let we know what is equation.</big></font><h3></p>

<p><font color="red">in mathametics there are neccessity to use and operate with varibles(formally a,b,c or x,y) ,parameter along with constants
some times these varibles and constants are structured with arithmetic operators(+,-,/,*)is equalised with some other quantity with symbol "equal"
(=) this is called a equation.some times quations turn as functions with two main varibles x,y.
then we plot a values of x,y respectively in the 2-D axis.so it has no. of points to join all these lines in a sequential manner it gives different shapes.it is called graph.
</font></p>
<hr>
<i><marquee scrollamount="20" size="20" bgcolor="cyan"><font color="fuchsia"> all algebraic,transcedental equations are updated recently.click on "NEW"button to see the features.</font></marquee></i>
<hr>
<u><h1><font color="steelblue">model graphs</font></h1></u>
<font face="lucida" color="voilet">
<ul type="1">
<li>algebraic equations.</li>
<li>logarithm & exponential equations</li>
<li>trigonometric equations.</li>
<li>inverse trigonometric equations</li>
<li>hyperbolic and parabolic equations.</li>
<li>differential&integral equations.</li>
</ul>
</font>


<img src="C:\Users\S Satish\Downloads\img1.png" width="500px" height="300">
<img src="C:\Users\S Satish\Downloads\img3.png" width="500px" height="300">
<img src="C:\Users\S Satish\Downloads\all trigono.png" width="500px" height="300">
<img src="C:\Users\S Satish\Downloads\all inverse trigono.jpg" width="500px" height="300">




<u><h1><font color="indigo" face="lucida">some basic graphs</font></h1></u>

<h2><font color="steelblue">Y=sinX</font></h2>
<img src="C:\Users\S Satish\Downloads\sin.png" alt="y=sinx" width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">Y=cosX</font></h2>

<img src="C:\Users\S Satish\Downloads\cos.gif" alt="y=cosx" width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">Y=tanX</font></h2>

<img src="C:\Users\S Satish\Downloads\tan.png" alt="y=tanx"  width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">Y=logX</font></h2>

<img src="C:\Users\S Satish\Downloads\logx.gif" alt="y=logx"  width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">Y=e<sup>X</sup></font></h2>

<img src="C:\Users\S Satish\Downloads\ex.png" alt="Y=e<sup>X</sup>"  width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">Y=X<sup>n</sup></font></h2>

<img src="C:\Users\S Satish\Downloads\xn.png" alt="Y=X<sup>n</sup>"   width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">parabola<br>Y<sup>2</sup>=4aX</font></h2>

<img src="C:\Users\S Satish\Downloads\parabola.png" alt="parabola<br>Y<sup>2</sup>=4aX"   width="600px" height="300" border="10" bordercolor="lime" >

<h2><font color="steelblue">hyperbola<br>X<sup>2</sup>/a<sup>2</sup>-Y<sup>2</sup>/b<sup>2</sup>=1</font></h2>

<img align="center" src="C:\Users\S Satish\Downloads\hyperbola.gif" alt="hyperbola<br>X<sup>2</sup>/a<sup>2</sup>-Y<sup>2</sup>/b<sup>2</sup>=1"   width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">circle<br>X<sup>2</sup>+Y<sup>2</sup>=a<sup>2</sup></font></h2>

<img src="C:\Users\S Satish\Downloads\circle.png" alt="circle<br>X<sup>2</sup>+Y<sup>2</sup>=a<sup>2</sup>"   width="600px" height="400" border="10" bordercolor="lime" >

<h2><font color="steelblue">ellipse<br>X<sup>2</sup>/a<sup>2</sup>+Y<sup>2</sup>/b<sup>2</sup>=1</font></h2>

<img src="C:\Users\S Satish\Downloads\ellipse.png" alt="ellipse<br>X<sup>2</sup>/a<sup>2</sup>+Y<sup>2</sup>/b<sup>2</sup>=1" width="600px" height="400" border="10" bordercolor="lime" >




<hr><hr>
 <marquee bgcolor="cyan" scrollamount="15"><font size="20" color="orange">table given below represents the different parentied equations.click on equation to see the details.</font></marquee>
<hr><hr>


<table border="5" height="400" width="1200" align=center bgcolor="steelblue" bordercolor="voilet">
<tr color="red">  <th>S.NO</th> <th>TYPE OF EQUATIONS</th> <th>EQUATIONS</th>  </tr>
<tr>  <td rowspan="3">01</td> <td rowspan="3">algebraic equations</td> <td>linear<br>Y=aX+b=0</td>  </tr>
<tr>    <td>quadritic<br>Y=aX<sup>2</sup>+bX+c=0</td>  </tr>
<tr>    <td>cubic<br>ax<sup>3</sup>+bx<sup>2</sup>+cx+d=0</td>  </tr>
<tr>  <td rowspan="3">02</td> <td rowspan="3">exponential equations</td> <td>Y=logX</td>  </tr>
<tr>  <td>Y=e<sup>X</td>  </tr>
<tr>  <td>Y=X<sup>n</td>  </tr>
<tr>  <td rowspan="6">03</td> <td rowspan="6" >trigonometric equations</td> <td>Y=sinX</td>  </tr>
<tr>   <td>Y=cosX</td>  </tr>
<tr>   <td>Y=tanX</td>  </tr>
<tr>   <td>Y=secX</td>  </tr>
<tr>   <td>Y=cosecX</td>  </tr>
<tr>   <td>Y=cotX</td>  </tr>

<tr>  <td rowspan="6">04</td> <td rowspan="6" >inverse trigonometry</td> <td>Y=sin<sup>-1</sup>X</td>  </tr>
<tr>   <td>Y=cos<sup>-1</sup>X</td>  </tr>
<tr>   <td>Y=tan<sup>-1</sup>X</td>  </tr>
<tr>   <td>Y=sec<sup>-1</sup>X</td>  </tr>
<tr>   <td>Y=cosec<sup>-1</sup>X</td>  </tr>
<tr>   <td>Y=cot<sup>-1</sup>X</td>  </tr>

<tr>  <td rowspan="4">05</td> <td rowspan="4" >conic sections</td> <td>parabola<br>Y<sup>2</sup>=4aX</td>  </tr>
<tr>  <td>circle<br>X<sup>2</sup>+Y<sup>2</sup>=a<sup>2</sup></td>  </tr>
<tr>  <td>ellipse<br>X<sup>2</sup>/a<sup>2</sup>+Y<sup>2</sup>/b<sup>2</sup>=1</td>  </tr>
<tr>  s<td>hyperbola<br>X<sup>2</sup>/a<sup>2</sup>-Y<sup>2</sup>/b<sup>2</sup>=1</td>  </tr>
</table>

<hr><hr>
<marquee bgcolor="mistyrose" scrollamount="15"><font color="mediumvioletred" size="40">click on names of equations given below to get detailed information about that equation graphs with websites.</font> </marquee>
<hr><hr>

<h1 >
<a color="yellow" target="blank" href="https://www.varsitytutors.com/hotmath/hotmath_help/topics/graphing-linear-equations">algebraic equation graphs.</a>
<br><hr><hr>
<a target="blank" href="https://www.varsitytutors.com/hotmath/hotmath_help/topics/graphing-linear-equations">logarithm & exponential equation graphs.</a>
<br><hr><hr>
<a target="blank" href="https://byjus.com/maths/trigonometry-graphs/">trigonometric equation graphs.</a>
<br><hr><hr>
<a target="blank" href="https://byjus.com/maths/graphic-representation-inverse-trigonometric-function/">inverse trigonometric equation graphs.</a>
<br><hr><hr>
<a target="blank" href="https://www.vedantu.com/maths/hyperbolic-functions">hyperbolic functions and equation graphs.</a>
<br><hr><hr>
<a target="blank" href="https://demonstrations.wolfram.com/ConicSectionsEquationsAndGraphs/">conic setions graphs.</a>
</h1>












</body>


</html>
